@using Microsoft.AspNetCore.Mvc.TagHelpers
@using StudentsManagement.Domain.Models
@model IEnumerable<StudentsManagement.Domain.Models.Course>

@{
    ViewBag.Title = "Courses";
    Layout = "_Layout";
}

<div class=row>
    <div class="col-12">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" colspan="3">
                    <h3>Courses</h3>
                </th>
                <th scope="col">
                    <a asp-action="CreateCourse">Create New Course</a>
                </th>
            </tr>
            <tr>
                <th scope="col">Course Name</th>
                <th scope="col" colspan="3">Description</th>
            </tr>
            </thead>
            <tbody>
                @foreach (Course course in Model)
                {
                    <tr>
                        <td>@course.Name</td>
                        <td>@course.Description</td>
                        <td>
                            <form asp-action="Delete">
                                <input type="hidden" name="courseId" value="@course.Id" />
                                <button type="submit" class="btn btn-link">Delete</button>
                            </form>
                        </td>
                        <td><a>Edit</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>