@model IEnumerable<StudentsManagement.Domain.Models.Student>

@{
    ViewBag.Title = "Students";
    Layout = "_Layout";
}

<div>
    <h1>Students</h1>
    @{
        foreach (var student in Model)
        {
            <p>@student</p>
        }
    }
</div>